.sb-content-controls {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.1);
  border: 1px solid gray;
  padding: 10px;
}

.sb-content-controls button {
  margin: 5px 0;
}

.sb-content-block {
  border: 1px solid grey;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  margin: 5px 0;
}

.sb-foo {
  color: red;
}