<h1>Example 1</h1>

<p>
    Lorem ipsum dorem, dolor sit amet.
</p>

<button (click)="show1 = !show1">
    Show / Hide
</button>

<button (click)="show2 = !show2">
    Show / Hide
</button>

<!-- headers -->
<sb-sticky-content target="header" priority="100">
    Header 1
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>

<sb-sticky-content *ngIf="show1" target="header" priority="1">
    Header Extra 1
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>

<sb-sticky-content *ngIf="show2" target="header" priority="200">
    Header Extra 2
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>

<!-- footers -->
<sb-sticky-content target="footer" priority="100">
    Footer 1
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>

<sb-sticky-content *ngIf="show1" target="footer" priority="1">
    Footer Extra 1
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>

<sb-sticky-content *ngIf="show2" target="footer" priority="200">
    Footer  Extra 2
    <sb-timestamp></sb-timestamp>
</sb-sticky-content>