<h1>Example 1</h1>

<p>
    Lorem ipsum dorem, dolor sit amet.
</p>

<button (click)="show1 = !show1">
    Show / Hide
</button>

<button (click)="show2 = !show2">
    Show / Hide
</button>

<!-- headers -->
<ng-template sbTeleport="header" sbTeleportPriority="100">
    Header 1
</ng-template>

<ng-template *ngIf="show1" sbTeleport="header" sbTeleportPriority="1">
    Header 2
</ng-template>

<ng-template *ngIf="show2" sbTeleport="header" sbTeleportPriority="200">
    Header 3
</ng-template>

<!-- footers -->
<ng-template sbTeleport="footer" sbTeleportPriority="100">
    Footer 1
</ng-template>

<ng-template *ngIf="show1" sbTeleport="footer" sbTeleportPriority="1">
    Footer 2
</ng-template>

<ng-template *ngIf="show2" sbTeleport="footer" sbTeleportPriority="200">
    Footer 3
</ng-template>