/* Sticky layout tests */

.sb-header {
 position: sticky;
 top: 0;
 background: rgba(0,0,0,0.2);
 padding: 5px 30px;
}

.sb-content {
  padding: 0 30px;
}

.sb-aside {
  position: absolute;
  top: 100%;
  right: 0;
  background: pink;
  width: 30%;
  padding: 5px 30px;
  /*margin-left: 70%;*/

}

.sb-footer {
  position: sticky;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  padding: 5px 30px;
}
