<div class="teleport-header">

  <div class="sb-header" id="header">

    <!--  HEADER STUFF GOES HERE -->
    <sb-teleport-outlet name="header" stack="down">
    </sb-teleport-outlet>

  </div>

  <div class="sb-aside container" id="aside">

    <div class="row">

      <div class="col-3 col-offset-9">

        <!--  ASIDE STUFF GOES HERE -->
        <sb-teleport-outlet name="aside" stack="down">
        </sb-teleport-outlet>

      </div> <!-- /.col-3.col-offset-9 -->

    </div> <!-- /.row -->

  </div> <!-- /.sb-aside.container -->

</div> <!-- /.sb-header -->



<div class="teleport-content">

  <!--  CONTENT STUFF GOES HERE -->
  <router-outlet></router-outlet>

</div> <!-- /.sb-content -->



<div class="teleport-footer" id="footer">

  <div class="sb-footer">

    <!--  FOOTER STUFF GOES HERE -->
    <sb-teleport-outlet name="footer" stack="up">
    </sb-teleport-outlet>


  </div> <!-- /.sb-footer -->

</div> <!-- /.teleport-footer -->
