/* Sticky layout tests */

.sb-header {
  position: relative; /* IE11 only */
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.2);
  padding: 5px 30px;
  z-index: 100;
}

.sb-content {
  padding: 0 30px;
}

.sb-aside {
  position: absolute;
  top: 100%;
  right: 0;
  background: pink;
  width: 30%;
  padding: 5px 30px;
}

.sb-header-sticky {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: goldenrod;
  padding: 5px 30px;
}

.sb-footer {
  position: sticky;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  padding: 5px 30px;
}
