<div class="sb-header">

    <!--  HEADER STUFF GOES HERE -->
    <sb-teleport-outlet name="header" stack="down">
    </sb-teleport-outlet>

    <div class="sb-header-sticky">
        <!-- STICKY STUFF GOES HERE -->
        <sb-teleport-outlet name="header-sticky" stack="down">
        </sb-teleport-outlet>

        <div class="sb-aside">

            <!--  ASIDE STUFF GOES HERE -->
            <sb-teleport-outlet name="aside" stack="down">
            </sb-teleport-outlet>

        </div>
            
    </div>

</div>

<div class="sb-content">

    <!--  CONTENT STUFF GOES HERE -->
    <router-outlet></router-outlet>

</div>

<div class="sb-footer">

    <!--  FOOTER STUFF GOES HERE -->
    <sb-teleport-outlet name="footer" stack="up">
    </sb-teleport-outlet>

</div>
